<div class="navcontainer">
  <ul id="nav_ul">
    
    <li id="nav_li"><a href="/"><img src="/views/pages/partials/lochatLogo.png" height="40" width="50"></a></li>
    <li id="nav_li"><a href="home">Home</a></li>
    <li id="nav_li"><a href="about">About</a></li>
    <li id="nav_li"><a href="" hidden="true">Settings</a></li>

    <form action="/login" method="post">
      <li id="nav_li" style="float: right;"><button type="submit" value="submit" class="btn  btn-sm" name="login" style="background-color: rgb(74, 137, 177)">Log In!</button></li>
      <li id="nav_li" style="float: right;"><input type="password" placeholder="Password" name="loginpsw" id="loginpsw"></li>
      <li id="nav_li" style="float: right;"><input type="text" placeholder="Username" name="loginuname" id="loginuname"></li>  
    </form>
  
  </ul>
</div>