<div class="navcontainer">
  <ul>
    <li><a href="">INSERT LOGO IMAGE</a></li>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Settings</a></li>
    <!--  <li style="float: right;"><input type="submit" value="Log In" style="background-color: #7c818c;color: black; outline: none">  -->
    <li style="float: right;"><button type="button" class="btn btn-primary btn-sm" name="logout" hidden="true">Log Out</button></li>
    <li style="float: right;"><button type="button" class="btn btn-primary btn-sm" name="login">Log In!</button></li>
    <li style="float: right;"><input type="password" placeholder="Password" name="psw"></li>
    <li style="float: right;"><input type="text" placeholder="Username" name="uname"></li>
    
  </ul>
</div>