<% include partials/header %>
<body>
<%include partials/navbar %>
<div class="aboutcontainer" style="padding-left: 42%;padding-top: 5%">

	<div class="card" style="width: 700px; height: 740px;
	background: rgba(12,12,12,.85); color:#7c818c">
	<div class="card-body">
	<p class="card-text">
	<h5 style="text-align: center;" class="card-title">About LoChat and its developers</h5>
	<br>
		LoChat is a program that allows you to connect and communicate with people around you in one easy to read and understand application. 
		LoChat was developed by 6D1A, a development team consinsting of Ian Bell, Rami Mouro, Kyle Stewart, Yair Bennaim, Josiah Graham, and Rohan Suri
		<br> <br>
		Kyle - I’m a Sophomore Computer Science major at CU looking to focus in software development! Check out my <a href="https://kyleastewart.me">website</a> to learn more about me!
		<br> <br>
		Yair- I am a Sophomore Computer Science major at CU looking to focus in Data Analytics! Slide into my dms on twitter @yair_bennaim. I have not felt true love in years.
		<br> <br>
		Josiah - I am a junior Computer Science major at CU looking to focus on Cyber Security. I enjoy collecting traffic violations and anime, I have procured a car with an 85 MPH top speed to help.
		<br> <br>
		Rohan -  I’m a Sophomore Computer Science major at CU looking to focus in Artificial Intelligence and Machine Learning. Check out my <a href="https://github.com/rohansuri17">github</a> to check out some class projects I have completed!
		<br> <br>
		Ian - I’m a Senior Computer Science major at CU focusing on software development. Check out my <a href="https://github.com/NaiKai237/College-Assignments" class="card-link">github</a> for some examples of code I’ve created for school assignments!
		<br> <br>
		Rami - I am a junior in Computer Science at CU. I love climbing on rocks and going down rocks covered in snow fast. Focusing on embedded things and stuff. Check out my <a href="https://github.com/ramalamadingdong">github</a>. Special skills include flipping a coin to heads 50% of the time.
	</p>
	</div>
	</div>
</div>
</body>
</html>