<% include partials/header %>
<body>
<%include partials/navbar %>
<div class="aboutcontainer" style="padding-left: 42%;padding-top: 5%">

	<div class="card" style="width: 700px; height: 500px;
	background: rgba(12,12,12,.85); color:#7c818c">
	<br>
		<h5 style="text-align: center;">About LoChat and its developers</h5>
		<br>
		LoChat is a program that allows you to connect and communicate with people around you in one easy to read and understand application 
		<br> <br>
		LoChat was developed by 6D1A, a development team consinsting of Ian Bell, Rami Mouro, Kyle Stewart, Yair Bennaim, Josiah Graham, and Rohan Suri
	</div>
</div>
</body>
</html>