<!DOCTYPE html>
<html>
<head>
	  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>About</title>
<link rel="stylesheet" type="text/css" href="style_sheet.css">
</head>
<body>
<div class="navcontainer">
	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="" hidden="true">Settings</a></li>
		<li style="float: right;"><input type="submit" value="Log In" style="background-color: #7c818c;color: black; outline: none">
		<li style="float: right;"><input type="password" placeholder="Password" name="psw"></li>
		<li style="float: right;"><input type="text" placeholder="Username" name="uname"></li>	
	</ul>
</div>
<div class="aboutcontainer" style="padding-left: 42%;padding-top: 5%">

	<div class="card" style="width: 700px; height: 500px;
	background: rgba(255,255,255,.85)">
	<br>
		<h5 style="text-align: center;">About LoChat and its developers</h5>
		<br>
		LoChat is a program that allows you to connect and communicate with people around you in one easy to read and understand application 
		<br> <br>
		LoChat was developed by 6D1A, a development team consinsting of Ian Bell, Rami Mouro, Kyle Stewart, Yair Bennaim, Josiah Graham, and Rohan Suri
	</div>
</div>
</body>
</html>