<%include partials/header%>
<body>
<%include partials/navbar %>
<div class="formcontainer" style="padding-left: 42%; padding-top: 5%">
  <form action="/submit" method="post" name="myForm">
        
        <div class="card" style="width: 700px; height: 500px; background: rgba(12,12,12,.85);">
            <center><strong><font color="#4A89B1"; size = "6">Create New Account</font></strong></center>
            
            <strong><font color="#4A89B1">First Name</font></strong>
            <input type="text" name="fname" id="fname" placeholder="Enter First Name" required />
            
             <strong><font color="#4A89B1">Last Name</font></strong>
            <input type="text" name="lname" id="lname" placeholder="Enter Last Name" name="lname" required />
             <strong><font color="#4A89B1">Username</font></strong>
            <input type="text" name="uname" id="uname" placeholder="Create Username" name="uname" required />
            
             <strong><font color="#4A89B1">Email</font></strong>
            <input type="text" name="email" id="email" placeholder="Enter Email" name="email" required />
            
             <strong><font color="#4A89B1">Password</font></strong>
            <input type="password" name="psw" id="psw" placeholder="Enter password" name="psw" required />
            
            <strong><font color="#4A89B1">Confirm Password</font></strong>
            <input type="password" placeholder="Password" name="psw-repeat" required />
            <br>
            <button type="submit" value="submit" class="btn" value="Create Account" name="RegSub" style="background-color: rgb(74, 137, 177);color: black; outline: none">Create Account</button>
        </div>

  </form>
        
</div>
</body>
</html>
