<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Temp Lochat homepage</title>


<style>
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #383c4a;
  position: fixed;
  top: 0;
  width: 100%
}
li {
  float: left;
  padding: 8px 10px;

}
li a {
	color: 	#7c818c;
	display: block;
  	display: block;
}
input{
  background-color: white;
}
body{
	background-color: #404552;
}
}
</style>
</head>
<body>
<div class="navcontainer">
	<ul>
		<li><a href="temp_home.html">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="">Settings</a></li>
		<li style="float: right;"><input type="submit" value="Log In" style="background-color: #7c818c;color: black; outline: none">
		<li style="float: right;"><input type="password" placeholder="Password" name="psw"></li>
		<li style="float: right;"><input type="text" placeholder="Username" name="uname"></li>
		
		
	</ul>
</div>
<div class="formcontainer" style="padding-left: 42%; padding-top: 5%">
	<form form action="/register/submit" method="post">
        
        <div class="card" style="width: 700px; height: 500px; background: rgba(255,255,255,.85);">
            <h5 style="text-align: center">Create New Account</h5>

            <label for="fname"><b>First Name</b></label>
            <input type="text" name="fname" id="fname" placeholder="Enter First Name" required />
            
            <label for="lname"><b>Last Name</b></label>
            <input type="text" name="lname" id="lname" placeholder="Enter Last Name" name="lname" required />

            <label for="uname"><b>Username</b></label>
            <input type="text" name="uname" id="uname" placeholder="Create Username" name="uname" required />
            
            <label for="email"><b>Email</b></label>
            <input type="text" name="email" id="email" placeholder="Enter Email" name="email" required />
            
            <label for="psw"><b>Password</b></label>
            <input type="password" name="psw" id="psw" placeholder="Enter password" name="psw" required />
            
            <label for="psw-repeat"><b>Confirm Password</b></label>
            <input type="password" placeholder="Password" name="psw-repeat" required />
            <br>
            <input type="submit" value="Create Account" style="background-color: #5294e2;color: black; outline: none"/>

        </div>

        
</div>
</body>
</html>