<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Temp Lochat homepage</title>
</head>
<body>
<div class="container">
<style>
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #383c4a;
}
li {
  float: left;
  padding: 8px 10px;

}
li a {
	color: 	#7c818c;
	display: block;
  	display: block;
}
input{
  background-color: white;
}
body{
	background-color: #404552;
}
}
</style>
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Settings</a></li>
		<li style="float: right;"><input type="submit" value="Log In" style="background-color: #7c818c;color: black; outline: none">
		<li style="float: right;"><input type="password" placeholder="Password" name="psw"></li>
		<li style="float: right;"><input type="text" placeholder="Username" name="uname"></li>
		
		
	</ul>
</div>
</body>
</html>